<div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Aadhar Profile</h4>
            </div>
            <div class="content">
                <form name="aadhar">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Number</label>
                              <input type="text" name="aadharId" class="form-control border-input" placeholder="Aadhar Number" ng-model="details.aadhar.artifactNumber" ng-minlength=12 ng-maxlength=12 required ng-pattern="/^[0-9]{12}$/">
                              <span class="help-block" ng-show="aadhar.aadharId.$dirty && (aadhar.aadharId.$error.minlength || aadhar.aadharId.$error.maxlength || aadhar.aadharId.$error.pattern) ">Aadhar Id should have 12 digits</span>
                              <span class="help-block" ng-show="aadhar.aadharId.$dirty && aadhar.aadharId.$error.required ">Aadhar Id is required</span>
                          </div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="firstName" class="form-control border-input" placeholder="First Name" ng-model="details.aadhar.firstName" required>
                                <span class="help-block" ng-show="aadhar.firstName.$dirty && aadhar.firstName.$error.required ">First Name is required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text"  name="lastName" class="form-control border-input" placeholder="Last Name" ng-model="details.aadhar.lastName">
                                <span class="help-block" ng-show="aadhar.lastName.$dirty && aadhar.lastName.$error.required ">Last Name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" name="Address" class="form-control border-input" placeholder="Home Address" ng-model="details.aadhar.address" required>
                                <span class="help-block" ng-show="aadhar.Address.$dirty && aadhar.Address.$error.required ">Address is required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <input type="text" name="gender" class="form-control border-input" placeholder="Male/Female/Others" ng-model="details.aadhar.gender" required>
                                <span class="help-block" ng-show="aadhar.gender.$dirty && aadhar.gender.$error.required ">Gender is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>DOB</label>
                                <input type="date" name="dob" class="form-control border-input" placeholder="Date Of Birth" ng-model="details.aadhar.dob" required>
                                <span class="help-block" ng-show="aadhar.dob.$dirty && aadhar.dob.$error.required ">Date of Birth is required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input type="number" name="zip" class="form-control border-input" placeholder="ZIP Code" ng-model="details.aadhar.postalCode" required>
                                <span class="help-block" ng-show="aadhar.zip.$dirty && aadhar.zip.$error.required ">Postal Code is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" ng-model="details.aadhar.notes">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="snackbar" class="text-center">{{message}}</div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="addDetails('aadhar',aadhar)">Update Aadhar</button>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
