<div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Driving Licence Profile</h4>
            </div>
            <div class="content">
                <form name="dl">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Number</label>
                              <input type="text" name="licencenumber" class="form-control border-input" placeholder="Licence Number" ng-model="details.dl.artifactNumber" ng-pattern="/^[A-Za-z]{2}[-][0-9]{13}$/" required>
                              <span class="help-block" ng-show="dl.licencenumber.$dirty && dl.licencenumber.$error.pattern">Licence should have XX-1234567891234 format</span>
                              <span class="help-block" ng-show="dl.licencenumber.$dirty && dl.licencenumber.$error.required">Licence number is required</span>
                          </div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control border-input" placeholder="Name"  ng-model="details.dl.firstName" required>
                                <span class="help-block" ng-show="dl.name.$dirty && dl.name.$error.required">Name is required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>S/D/W of</label>
                                <input type="text" name="relativeName" class="form-control border-input" placeholder="Son/Daughter of"  ng-model="details.dl.relativeName" required>
                                <span class="help-block" ng-show="dl.relativeName.$dirty && dl.relativeName.$error.required">Relative Name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" name="address" class="form-control border-input" placeholder="Home Address"  ng-model="details.dl.address" required>
                                <span class="help-block" ng-show="dl.address.$dirty && dl.address.$error.required">Address is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <label>Issued On</label>
                              <input type="date" name="issueDate" class="form-control border-input" placeholder="Date Of Birth"  ng-model="details.dl.issueDate" required>
                                <span class="help-block" ng-show="dl.issueDate.$dirty && dl.issueDate.$error.required">Issue date is required</span>
                          </div>
                      </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>DOB</label>
                                <input type="date" name="dob" class="form-control border-input" placeholder="Date Of Birth" ng-model="details.dl.dob" required>
                                <span class="help-block" ng-show="dl.dob.$dirty && dl.dob.$error.required">Date of Birth is required</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Blood Group</label>
                                <input type="text" name="bloodGroup" class="form-control border-input" placeholder="A+" ng-model="details.dl.bloodGroup" required>
                                <span class="help-block" ng-show="dl.bloodGroup.$dirty && dl.bloodGroup.$error.required">Blood Group is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" ng-model="details.dl.notes">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="snackbar" class="text-center">{{message}}</div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="addDetails('dl',dl)">Update DL details</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
