<div class="login-page" ng-controller="loginCtrl">
    <div class="form">
      <form class="register-form default-fadein" ng-hide="hiddenreg" ng-class="{fadein: startFadein}" name="loginForm">
        <input type="text" name="username" placeholder="UserName" ng-model="Account.userName" required/>
        <span class="help-block" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">Username is required</span>
        <input type="password" placeholder="Password" name="password" ng-model="Account.password" required ng-minlength="6"/>
        <span class="help-block" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">Password is required</span>
        <span class="help-block" ng-show="loginForm.password.$dirty && loginForm.password.$error.minlength">Password should be atleast 6 characters</span>
        <input type="text" placeholder="First Name" name="firstName" ng-model="Account.firstName" required/>
        <span class="help-block" ng-show="loginForm.firstName.$dirty && loginForm.firstName.$error.required">First Name is required</span>
        <input type="text" placeholder="Last Name" name="lastName" ng-model="Account.lastName" required/>
        <span class="help-block" ng-show="loginForm.lastName.$dirty && loginForm.lastName.$error.required">Last Name is required</span>
        <input type="email" name="email" placeholder="E-mail" ng-model="Account.mailId" required/>
        <span class="help-block" ng-show="loginForm.email.$dirty && loginForm.email.$error.required">Email is required</span>
        <button ng-click="register()">Register</button>
        <p class="message">Already registered? <a ng-click="hideregi()" href>Sign In</a></p>
      </form>
      <form class="login-form default-fadeout" ng-hide="hiddenlog" ng-class="{fadeout: startFadeout}" name="logging">
        <input type="text" placeholder="username" name="username" ng-model="Account.userName" required/>
        <span class="help-block" ng-show="logging.username.$dirty && logging.username.$invalid">Username is required</span>
        <input type="password" name="password" placeholder="password" ng-model="Account.password" required/>
        <span class="help-block" ng-show="logging.password.$dirty && logging.password.$error.required">Password is required</span>
        <button ng-click="login()">login</button>
        <p class="message">Not registered? <a ng-click="hidelog()" href>Create an account</a></p>
      </form>
      </div>
      <div id="snackbar" class="text-center">{{message}}</div>
    </div>
