<div class="dropdown align">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{selection}}
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href ng-click="changeLayout('Aadhar')">Aadhar</a></li>
      <li><a href ng-click="changeLayout('Driving Licence')">Driving Licence</a></li>
      <li><a href ng-click="changeLayout('Pan')">PanCard</a></li>
      <li><a href ng-click="changeLayout('Voter Id')">VoterId</a></li>
  </ul>
</div>
<aadhar ng-if="selection=='Aadhar'"></aadhar>
<dl ng-if="selection=='Driving Licence'"></dl>
<pancard ng-if="selection=='Pan'"></pancard>
<voterid ng-if="selection=='Voter Id'"></voterid>
