<div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Pan Card Details</h4>
            </div>
            <div class="content">
                <form name="pan">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Number</label>
                              <input type="text" name="pannumber" class="form-control border-input" placeholder="PanCard Number"  ng-model="details.pan.artifactNumber" required>
                              <span class="help-block" ng-show="pan.pannumber.$dirty && pan.pannumber.$error.required ">PAN number is required</span>
                          </div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control border-input" placeholder="Name"  ng-model="details.pan.firstName" required>
                                <span class="help-block" ng-show="pan.name.$dirty && pan.name.$error.required ">Name is required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>S/D/W of</label>
                                <input type="text" name="relative" class="form-control border-input" placeholder="S/D/W Of"  ng-model="details.pan.relativeName" required>
                                <span class="help-block" ng-show="pan.relative.$dirty && pan.relative.$error.required ">Relative name is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description"  ng-model="details.pan.notes">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="snackbar" class="text-center">{{message}}</div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="addDetails('pan',pan)">Update PanCard Details</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
