<div class="sidebar" data-background-color="black">
  <div class="sidebar-wrapper">
      <div class="logo">
          <a href="https://caavo.com/" class="simple-text">
              CaavO
          </a>
      </div>
      <ul class="nav">
        <li ng-repeat="menuItem in routes" class="{{menuItem.class}}">
            <a href="{{menuItem.path}}">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

      </ul>
  </div>
</div>
