<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image">
                    <img src="img/background.jpg" alt="..."/>
                </div>
                <div class="content">
                    <div class="author">
                      <img class="avatar border-white" src="img/faces/face-2.jpg" alt="..."/>
                      <h4 class="title">{{user.firstName}} {{user.lastName}}<br />
                         <a href="#"><small>@{{user.firstName}}</small></a>
                      </h4>
                    </div>
                    <p class="description text-center">
                        {{user.notes}}
                    </p>
                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h5>{{user.records}}<br /><small>Files</small></h5>
                        </div>
                        <div class="col-md-4">
                            <h5>2GB<br /><small>Used</small></h5>
                        </div>
                        <div class="col-md-3">
                            <h5>{{user.pending}}<br /><small>Pending</small></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Uploaded Documents</h4>
                </div>
                <div class="content">
                    <ul class="list-unstyled team-members">
                                <li ng-repeat="item in user.details">
                                    <div class="row">
                                        <div class="col-xs-9">
                                            {{item.detailsType}}
                                            <br />
                                            <span class="text-muted"><small>created</small></span>
                                        </div>

                                        <div class="col-xs-3 text-right">
                                            <button class="btn btn-sm btn-success btn-icon" ng-click="redirect()"><i class="fa fa-envelope"></i></button>
                                        </div>
                                    </div>
                                </li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edit Profile</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control border-input" placeholder="Username" ng-model="user.userName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control border-input" placeholder="Email" ng-model="user.mailId">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control border-input" placeholder="First Name" ng-model="user.firstName">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control border-input" placeholder="Last Name" ng-model="user.lastName">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Address</label>
                                    <input type="text" class="form-control border-input" placeholder="Home Address" ng-model="user.address">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>About Me</label>
                                    <textarea rows="5" class="form-control border-input" placeholder="Here can be your description" ng-model="user.notes">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="update()">Update Profile</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>
