<div class="container-fluid">
    <div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Voter Id Details</h4>
            </div>
            <div class="content">
                <form name="voterId">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label>Number</label>
                              <input type="number" name="id" class="form-control border-input" placeholder="Voter Id Number"  ng-model="details.voterId.artifactNumber" required>
                              <span class="help-block" ng-show="voterId.id.$dirty && voterId.id.$error.required ">Voter Id is required</span>
                          </div>
                      </div>
                  </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control border-input" placeholder="Name"  ng-model="details.voterId.firstName" required>
                                <span class="help-block" ng-show="voterId.name.$dirty && voterId.name.$error.required ">Name is required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Son/Daughter of</label>
                                <input type="text" name="relativeName" class="form-control border-input" placeholder="Son/Daughter Of"  ng-model="details.voterId.relativeName" required>
                                <span class="help-block" ng-show="voterId.relativeName.$dirty && voterId.relativeName.$error.required ">Relative name is required</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" name="address" class="form-control border-input" placeholder="Home Address"  ng-model="details.voterId.address" required>
                                <span class="help-block" ng-show="voterId.address.$dirty && voterId.address.$error.required ">Address is required</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <input type="text" name="gender" class="form-control border-input" placeholder="Male/Female/Others"  ng-model="details.voterId.gender" required>
                                <span class="help-block" ng-show="voterId.gender.$dirty && voterId.gender.$error.required ">Gender is required</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notes</label>
                                <textarea rows="5" class="form-control border-input" placeholder="Here can be your description"  ng-model="details.voterId.notes">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div id="snackbar" class="text-center">{{message}}</div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd" ng-click="addDetails('voterId',voterId)">Update VoterId Details</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>
